h1,h2,h3,h4,h5,h6{
	font-family: 'Questrial', sans-serif;
}
*{
	font-family: 'Roboto', sans-serif;
}
.tc-1{
	color: rgb(221 40 88);
}
.tc-2{
	color: rgb(233 149 37);
}
.tc-3{
	color: rgb(9 65 102);
}
body{
	scroll-behavior: smooth;
}

.redes{
	font-size: 55px;
	margin-left: .5em;
	margin-right: .5em;
}

.line{
	height: 5px;
	width: 100%;
}

.navbar{
	border: solid 1px rgb(13 110 253); 
}